div.header {
    > a {
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
    }

    > p.subtitle {
        margin-top: 5px;
        font-size: 14px;
        color: darkgrey;
    }
}

div.wrapper {
    padding: 20px 0;

    a {
        text-decoration: none;

        mat-chip {
            cursor: pointer;
            font-size: 12px;
        }
    }

    div.top {
        display: flex;
        align-items: center;
        justify-content: center;

        div.top-left {
            flex: 1 1 auto;
        }

        div.top-right {
            width: 170px;
            display: flex;
            justify-content: center;
            align-items: center;

            iframe {
                width: 155px;
                height: 30px;
            }
        }
    }

    app-bottom-bar {
        display: block;
        margin: 20px 10px 0 0;
        font-size: 12px;
    }
}
