<div class="wrapper">
    <div class="top">
        <div class="top-left">
            <div class="header">
                <a [href]="repo.html_url" color="primary">{{repo.name}}</a>
                <p class="subtitle">{{repo.description}}</p>
            </div>
            <mat-chip-list>
                <ng-container *ngFor="let topic of repo.topics">
                    <a [href]="env.urlTopicPrefix + topic + env.urlTopicSuffix">
                        <mat-chip color="primary" selected>{{topic}}</mat-chip>
                    </a>
                </ng-container>
            </mat-chip-list>
        </div>
        <!-- <div class="top-right">
            <div class="svg" [inlineSVG]="env.urlPrefix + repo.name + env.urlActivitySuffix"></div>
        </div> -->
    </div>
    <app-bottom-bar [repo]="repo"></app-bottom-bar>
</div>