<div class="wrapper">
    <mat-list>
        <mat-list-item>
            <app-repo-item></app-repo-item>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <app-repo-item></app-repo-item>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <app-repo-item></app-repo-item>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <app-repo-item></app-repo-item>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <app-repo-item></app-repo-item>
        </mat-list-item>
    </mat-list>
    <div class="sidePanel">
        <app-top-languages></app-top-languages>
        <app-most-used-topics></app-most-used-topics>
        <app-people></app-people>
    </div>
</div>