<mat-card>
    <mat-card-header>
        <mat-card-title>People</mat-card-title>
        <span class="spacer"></span>
        <span>{{members.length}}</span>
        <mat-icon>navigate_next</mat-icon>
        <a class="link" [href]="env.urlPeople"></a>
    </mat-card-header>
    <div class="wrapper">
        <ng-container *ngFor="let member of members">
            <a [href]="member.html_url">
                <img [src]="member.avatar_url">
            </a>
        </ng-container>
    </div>
</mat-card>